# Node
frontend/node_modules/
frontend/dist/
frontend/.vite/
todo.md

# .NET build output
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Artifacts
*.exe
*.dll
*.pdb
*.cache
*.dswa.cache.json
*.sourcelink.json
appsettings.Development.json
